@model ASI.Basecode.Data.Models.KnowledgeBase
@using static ASI.Basecode.Resources.Views.Screen

<div class="container pt-5">
    <h2>Edit Knowledge Base</h2>

    <form method="post" asp-action="UpdateKnowledgeBase">
        <input type="text" value="@Model.KnowledgeBaseId" class="form-control d-none" asp-for="KnowledgeBaseId">
        <div class="form-group">
            <label>Title</label>
            <input asp-for="Title" class="form-control" placeholder="Title here" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Creator</label>
            <input asp-for="Creator" class="form-control" placeholder="Creator here" />
            <span asp-validation-for="Creator" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Content</label>
            <input asp-for="Content" class="form-control" placeholder="Content here" />
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <a asp-controller="KnowledgeBase" asp-action="Index" class="btn btn-secondary">Cancel</a>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>

</div>
